* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.flex-input {
  background-color: #f1f1f1;
  padding-bottom: 50px;
  flex: 50%;
  margin-right: 20px;
  border-radius: 25px;
  box-shadow: 5px 5px #888888;
}

.flex-input-temp {
  background-color: #f1f1f1;
  padding-bottom: 50px;
  flex: 50%;
  border-radius: 25px;
  box-shadow: 5px 5px #888888;
}

.flex-result {
  background-color: #f1f1f1;
  padding-bottom: 50px;
  flex: 50%;
  border-radius: 25px;
  box-shadow: 5px 5px #888888;
}

.Header {
  display: flex;
  margin: 10px 20px;
}

.Logo {
  border-radius: 50%;
  border: 1px solid;
  box-shadow: 5px 5px #888888;
}

.HeaderText {
  margin-left: 10px;
}

.addedWords {
  text-align: left;
  font-size: 20px;
}

#words {
  width: 230px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  transition: width 0.4s ease-in-out;
}

#words:focus {
  width: 80%;
}

li:nth-child(3){ clear: both; }

.btn {
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 16px 0 !important;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-green:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}